.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 300px;
    grid-auto-rows: minmax(100px, auto);
 }

.columnas{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
}